#**PYTHON**

#1.Explain the key features of Python that make it a popular choice for programming

Ans.1. Simple and Readable Syntax
*Python’s syntax is clean and close to English, which makes it easier to learn
 and understand.

*This readability reduces development time and the likelihood of bugs.

2. Interpreted and Dynamically Typed

*Python is an interpreted language, meaning code runs line by line. This makes
 debugging easier.

*It’s dynamically typed, so you don’t need to declare variable types—Python
 figures it out at runtime.

 3. Vast Standard Library & Ecosystem
*Python comes with a massive standard library for file I/O, system calls, web
 services, and more.

*It also has a rich ecosystem of third-party packages (via pip) for everything
 from web development (Flask, Django) to data science (NumPy, pandas, scikit-learn).

 4. Cross-Platform Compatibility
*Python is platform-independent—you can write code once and run it on Windows,
 macOS, or Linux with minimal changes.

 5. Supports Multiple Programming Paradigms
Python supports:

*Procedural programming

*Object-oriented programming

*Functional programming

*This makes it flexible and suitable for a wide range of projects.

#2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program

Ans.Predefined keywords (also called reserved words) are special words that are built into the Python language. These words have a specific meaning and function, and cannot be used as identifiers (like variable or function names) because Python uses them to understand the structure and behavior of your code.

In [1]:
x = 10
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Positive

In [2]:
#example 2

i = 0
while i < 5:
    if i == 3:
        break
    print(i)
    i += 1

0
1
2

#3.  Compare and contrast mutable and immutable objects in Python with examples

Ans.**Mutable Objects**

*Can be changed after creation.

*Same memory address is retained when modified.

*Used when data needs to be updated frequently.

#Examples: list, dict, set, bytearray

Not safe for use as dictionary keys or set elements.

In [3]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the list

**Immutable Objects**

*Cannot be changed after creation.

*New memory address is created if a change is attempted.

*Used when data should remain constant.

#Examples: int, float, str, tuple, bool, frozenset

Can be used as dictionary keys or elements in sets.

In [4]:
my_str = "Hello"
my_str += " World"  # Creates a new string

#4. Discuss the different types of operators in Python and provide examples of how they are used

Ans. 1. Arithmetic Operators
Perform basic math operations.

#Examples:

+ → 5 + 2 = 7

- → 5 - 2 = 3

* → 5 * 2 = 10

/ → 5 / 2 = 2.5

// → 5 // 2 = 2 (Floor division)

% → 5 % 2 = 1 (Remainder)

** → 2 ** 3 = 8 (Exponent)

In [5]:
a = 10
b = 3

print(a + b)   # 13
print(a - b)   # 7
print(a * b)   # 30
print(a / b)   # 3.333...
print(a // b)  # 3 (Floor division)
print(a % b)   # 1 (Remainder)
print(a ** b)  # 1000 (10^3)

13
7
30
3.3333333333333335
3
1
1000

#2. Comparison (Relational) Operators
Used to compare two values.

Operator	Meaning	Example	Result
==	Equal to	5 == 5	True
!=	Not equal to	5 != 3	True
>	Greater than	5 > 3	True
<	Less than	3 < 5	True
>=	Greater or equal	5 >= 5	True
<=	Less or equal	3 <= 5	True

In [6]:
x = 5
y = 10

print(x == y)   # False
print(x != y)   # True
print(x > y)    # False
print(x < y)    # True
print(x >= 5)   # True
print(y <= 10)  # True

False
True
False
True
True
True

#3. Logical Operators
Combine multiple conditions.

Examples:

and → True and False → False

or → True or False → True

not → not True → False

In [7]:
a = True
b = False

print(a and b)  # False
print(a or b)   # True
print(not a)    # False

False
True
False

# 4. Assignment Operators
Assign and update variable values.

Examples:

= → x = 5

+= → x += 2 (same as x = x + 2)

-= → x -= 2

*= → x *= 3

/= → x /= 2

In [8]:
x = 5
x += 2   # x = x + 2 → 7
x -= 1   # x = x - 1 → 6
x *= 3   # x = x * 3 → 18
x /= 6   # x = x / 6 → 3.0

print(x)

3.0

#5. Bitwise Operators
Perform operations on binary (bit-level) values.

Examples:

& → 5 & 3 → 1

| → 5 | 3 → 7

^ → 5 ^ 3 → 6

~ → ~5 → -6

<< → 5 << 1 → 10

>> → 5 >> 1 → 2

In [9]:
a = 5    # 0b0101
b = 3    # 0b0011

print(a & b)   # 1 (0b0001)
print(a | b)   # 7 (0b0111)
print(a ^ b)   # 6 (0b0110)
print(~a)      # -6 (inverts bits)
print(a << 1)  # 10 (left shift)
print(a >> 1)  # 2 (right shift)

1
7
6
-6
10
2

#6. Identity Operators
Compare object identity (memory location).

Examples:

is → a is b → True if both refer to same object

is not → a is not b → True if they are different objects

In [10]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]

print(x is y)       # True (same object)
print(x is z)       # False (same content, different objects)
print(x is not z)   # True

True
False
True

 7. Membership Operators
Check if a value is present in a sequence (like string, list, etc.).

Examples:

in → 'a' in 'cat' → True

not in → 'x' not in 'cat' → True

In [11]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)      # True
print("grape" not in fruits)   # True

True
True

#5 Explain the concept of type casting in Python with examples

Ans. Type casting means converting one data type into another. It’s useful when you want to do operations that require specific types (like adding a string and a number after converting one).

There are two types of type casting in Python:

1. **Implicit Type Casting (Automatic)**

Done automatically by Python.

Happens when mixing different types in expressions.

In [12]:
a = 5       # int
b = 2.5     # float

c = a + b   # int + float → float
print(c)    # 7.5
print(type(c))  # <class 'float'>

7.5
<class 'float'>

2. **Explicit Type Casting (Manual)**

Done by the programmer using built-in functions like int(), float(), str(), etc.

Common functions:

int() → converts to integer

float() → converts to float

str() → converts to string

bool() → converts to boolean

In [13]:
x = "100"
y = int(x)  # convert string to int
print(y + 50)  # Output: 150

150

In [14]:
num = 9.7
new_num = int(num)  # removes decimal part
print(new_num)  # Output: 9

9

In [15]:
age = 25
print("I am " + str(age) + " years old.")  # Output: I am 25 years old.

I am 25 years old.

In [16]:
print(bool(0))   # False
print(bool(5))   # True

False
True

#6. How do conditional statements work in Python? Illustrate with examples

Ans. Conditional statements allow your program to make decisions based on conditions (True or False).

**Types of Conditional Statements in Python**

if statement – Executes a block only if the condition is True.

if...else statement – Adds an alternative block if the condition is False.

if...elif...else chain – Checks multiple conditions in sequence.

In [17]:
x = 10
if x > 5:
    print("x is greater than 5")
# Output: x is greater than 5

x is greater than 5

In [18]:
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")
# Output: x is 5 or less

x is 5 or less

In [19]:
x = 0
if x > 0:
    print("Positive number")
elif x == 0:
    print("Zero")
else:
    print("Negative number")
# Output: Zero

Zero

#7.Describe the different types of loops in Python and their use cases with examples.

Ans. Loops are used to execute a block of code repeatedly until a certain condition is met.

**1. for Loop**

Use Case:
Used when you want to iterate over a sequence (like a list, string, range, etc.)

In [20]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry


**2. while Loop**

 Use Case:

Used when you want to repeat a block of code while a condition is True.

In [21]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

**3. Loop Control Statements**

These are used to control the flow inside loops:

Statement	Description	Example Use
break	Exits the loop immediately	Stop when a condition is met
continue	Skips the current iteration & continues	Skip certain values
pass	Does nothing (placeholder)	Used when a block is syntactically required

In [22]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [23]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4